<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="isValid" parameterType="usersDto" resultType="string">
		SELECT users_id
		FROM tk_users
		WHERE users_id=#{users_id} AND users_pwd=#{users_pwd}
	</select>

</mapper>